* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
   max-width: 100%;
}

h3 {
    font-size: 30px;
}

.wrapper {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 2px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li.active::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 30px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #DC7000;
    
}

header nav ul li.btn a, .email .block button {
    background-color: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background-color: #a02604;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 527px;
    padding-top: 70px;
}

.hero--info h2 {
    font-size: 20px;
    color: #E87D0E;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, 
.hero-about .info .btn {
    background: rgb(232,125,14);
    background: linear-gradient(90deg, rgba(232,125,14,1) 100%, rgba(251,158,60,1) 100%);
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
}

.trending .see-all, .projects .see-all {
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #25211D;
    padding: 12px 23px;
    display: block;
    float: right;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
   position: relative;
   top: 5px;
   margin-right: 9px;
}

.big-text {
    padding: 50px 0;
    font-weight: 600;
    font-size: 35px;
    width: 826px;
    text-align: center;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 32px;
}

.banner p {
  line-height: 170%;
  margin-bottom: 30px;
  width: 545px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

.features {
    background: url('/assets/public/img/background.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3, 
.features .features-info__text {
    text-align: center;
    margin-bottom: 20px;
    width: 800;
    margin-left: 310px;
    margin-right: 310px;
}


.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 25%;
    margin: 30px 0;
}

.projects {
    padding: 100px 0;
}

.projects h3, 
.projects p {
    text-align: center;
}

.projects h3 {
    padding: 15px 0;
}

.projects p {
    padding-top: 20px;
    padding-bottom: 60px;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.projects .see-all {
    float: none;
    text-align: center;
    width: 70px;
    margin: 0px auto auto auto;
}

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    margin-bottom: 32px;
    font-size: 30px;
}

.email p {
    margin-bottom: 20px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.email-info p {
    font-size: 17px;
    width: 70%;
}

.email-info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    
}

.email .block input::placeholder {
    color: #898989
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 30px;
    position: absolute;
    bottom: 87px;
    right: 50px;
}

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 450px;
    height: 450px;
    padding-top: 60px;
    padding-bottom: 300px;
}

.hero-about .info .breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
}

.breadcrumbs {
    margin-bottom: 38px;
}


.breadcrumbs__link.active {
    color: #E47500;
}


.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
    margin-bottom: 25px;
}

.hero-about .info p {
    margin-bottom: 15px;
    font-size: 15px;
    margin-bottom: 25px;
}

.hero-about .info .btn {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    top: 0;
    right: -100px;
    width: 739px;
    height: 656px;
}

.work {
    padding: 80px 0;
}

.work h2 { 
    font-size: 25px;
    margin-bottom: 63px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
   width: 25%;
   border-radius: 10px;
   padding: 40px 35px;
   background: #1C140F;
   width: 378px;
   height: 348px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 20px;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 10px;
    width: 140px;
    text-align: center;
}

.work .blocks .block .badge.purple {
    background: #560f67;
}

.work .blocks .block .badge.brown {
    background: #31190D
}

.work .blocks .block .badge.green {
    background: #192A1D;
}

.work .blocks .block span {
    margin: 19px 0;
}

.work .blocks .block h3 {
   font-size: 20px;
   margin: 16px 0;
}

.work .blocks .block p {
    width: 333px;
    margin: 16px 0;
}

.about-info {
    position: relative;
    background-color: #1C140F; 
    padding-top: 100px;
    padding-left: 100px;
    border-radius: 14px;
    height: 503px;
    width: 60%;
    margin-top: 40px;
}

.about-info img {
    bottom: 0;
    position: absolute;
    left: 60px;
}

.about-info .block {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 120px; 
    right: 50px;
    width: 536px;
    margin: 20px 0;
}

.about-info .block h2,
.about-info .block p,
.about-info .block span {
    margin: 14px 0;
}

.about-info .block h2 {
    font-size: 28px;
}

.our-team {
    padding: 80px 0;
}

.our-team h2 {
    margin-left: 40px;
}

.our-team .blocks {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    gap: 28px
}

.our-team .blocks .block {
    display: flex;
    flex-direction: column;
    background-color: #1C140F;
    align-items: center;
    border-radius: 14px;
    width: 295px;
    height: 253px;
    justify-content: center;

}

.our-team .blocks .block h3 {
    font-size: 19px;
    margin: 4px 0;
}

.our-team .blocks .block p {
    margin: 4px 0;
}

.our-team .blocks .block img {
    height: 123px;
    width: 123px;
}

.hero-portfolio {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}

.hero-portfolio .info {
    text-align: center;
    margin: 45px 0;
}

.hero-portfolio .info .breadcrumbs__list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 8px;
}

.hero-portfolio .info h1 {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-portfolio .blocks {
    display: flex;
    text-align: center;
    background-color: #1C140F;
    padding: 30px 0;
    border-radius: 7px;
    width: 80%;
    
}

.hero-portfolio .blocks .block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 10px;
    margin-left: 100px;
    width: 33.33%;
    gap: 30px;
    
}

.hero-portfolio .blocks .block:nth-child(2)::before,
.hero-portfolio .blocks .block:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    top: 0;
}

.hero-portfolio .blocks .block:nth-child(2)::before {
    left: -100px;
}

.hero-portfolio .blocks .block:nth-child(2)::after {
    right: -15px;
}

.hero-portfolio .text {
    width: fit-content;
    text-align: left;
}

.hero-portfolio .text h3 {
    font-size: 25px;
    font-weight: 700;
}

.hero-portfolio .text p {
    font-size: 20px;
}

.video-player  {
    position: relative;
    height: 367px;
    margin-bottom: 80px;
}

.video-player .info {
    width: 430px;
    height: 362px;
    float: right;
}

.video-player .description h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.video-player p {
    font-size: 14px;
}

.video-player .blocks {
    padding: 40px 0;
}

.video-player .blocks .block {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.video-player span img {
    width: 800px;
    height: 355px;
    border-radius: 14px;
    position: absolute;
    left: 30px;
    top: 10px;

}

.video-player .blocks .block img {
    width: auto;
    height: auto;
}

footer {
    background: #000;
    padding-top: 50px;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer .contacts {
    display: flex;
    align-items: flex-end;
}

footer .logo-text {
   position: absolute;
   bottom: -4px
}

footer .logo {
    position: absolute;
    top: -12px;
}

footer .blocks .logo-info {
    align-content: center;
}

footer .copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 25px;
}

@media (max-width: 1600px) {
    .container {
       width: 1400px;
    }
    header nav ul {
      width: 92%;
    }
    .email .block {
        width: 92%;
    }
}

@media (max-width: 1400px) {
    .container {
       width: 1200px;
    }
    .our-team {
        width: 96%;
    }
    .video-player span img {
        width: 700px;
     }
    .work .blocks .block {
        padding: 30px 10px;
        width: 378px;
        height: 300px;
    }
    .about-info {
        padding-left: 0;
        font-size: 1.5vw;
    }
    .about-info .block {
       top: 100px;
       right: 10px;
       width: 401px;
       height: 350px;
    }

    .about-info img {
        width: 450px;
    }

    .hero-about .info  {
        width: 600px;
    }
    .hero-about img {
        top: 60px;
        right: 40px;
        width: 500px;
        height: 500px;
    }

    .about-info {
        width: 90%;
        height: 450px;
    }
    .about-info img {
        width: 450px;
        bottom: 0;

    }
    .about-info .block {
        top: 100px;
        width: 400px;
        right: 60px;
    }
    .about-info .block h2 {
        font-size: 2vw;
    }
    .work {
        width: 90%;
    }
    .work .blocks .block {
        margin-left: 5px;
        padding: 20px 10px;
        width: 30% ;
    }
    .work .blocks .block p {
        width: 280px;
    }
    .email .block {
        width: 92%;
    }
    
   }
   
   @media (max-width: 1200px) {
    .container {
       width: 1000px;
    }
    body {
       word-spacing: 0.5vw;
    }
    .email .block button {
        bottom: 102px;
        right: 40px;
     }
     .video-player span img {
        width: 500px;
     }
     .projects .images img {
        width: 250px;
    }
    .projects .see-all {
        width: 60px;
        height: auto;
        font-size: 1.5vw;
    }
    .trending .games .block img {
        max-width: 80%;
    }
    .hero img {
        top: -100px;
        width: 400px;
    }
    .work .blocks .block {
        padding: 10px 5px;
        width: 380px;
        font-size: 1.3vw;
        margin-left: 10px;
    }

    .work .blocks .block p {
        width: 270px;

    }

    .hero-about img {
        right: -29px;
        width: 500px;
        height: 500px;
    }
    .hero-about .info {
        width: 400px;
        font-size: 1.5vw;
    }
    .email .block {
        width: 92%;
    }
}

    @media (max-width: 1000px) {
        .container {
           width: 750px;
        }
        body {
            font-size: 1.5vw;
            word-spacing: 0.5vw;
         }
         .hero-portfolio .blocks {
            width: 100%;
         }
         header {
            width: 100%;
            font-size: 1.5vw;
         }
         footer .blocks {
            width: 100%;
         }
         .email .block button {
            bottom: 127px;
            right: 30px;
         }
         .video-player span img {
            width: 400px;
            height: auto;
         }
         .video-player .info {
            width: 300px;
         }
         .projects .images img {
            width: 250px;
        }
        .projects .see-all {
            width: 40px;
            height: auto;
        }
        .hero img {
            top: -100px;
            width: 400px;
        }
        .features h3, .features .features-info__text {
            margin: 0 0;
        }
        .hero-about .info  {
            width: 300px;
        }
        .hero-about img {
            top: 60px;
            right: -80px;
            width: 400px;
            height: 400px;
        }
        .about-info img {
            width: 350px;
            top: 130px;

        }
        .about-info .block {
            top: 100px;
            width: 300px;
        }
        .about-info .block h2 {
            font-size: 2vw;
        }
        .work .blocks .block {
            margin-left: 10px;
            padding: 20px 10px;
        }
        .work .blocks .block p {
            width: 240px;
        }
        .email .block {
            width: 92%;
        }
       }
       
